* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Prompt", sans-serif;
    font-style: normal;
}

nav {
  background-color: #C74767;
}

ul {
  list-style-type: none;
  width: fit-content;
  margin: 0 auto;
  padding: 0 auto;
  overflow: hidden;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px ;
  text-decoration: none;
}

ul li a:hover {
    background-color: #D16C85;
    color: #ffebcd;
    text-decoration: underline;
    transition: 0.2s;
}

.container {
  border-style:solid;
  border-color:rgb(0, 47, 255);  
  height: 370vh;
  display: grid;
  grid-template-columns: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0; 
 }

.document {
  border: solid;
  border-color: rgb(0, 50, 0);
  height: 90vh;
  padding: 0 350px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 85px;
}

.fast1 {
  border: solid;
  border-color: #C74767;
  height: 5vh;
  width: 20px;
  padding: 0 100px;
  margin-top: 500px;
}

.nav-bar {
  border: solid;
  border-color: #C74767;
  margin-top: 15px;
  height: 10vh;
  width: 190vh;
}

.mother {
  border: solid;
  border-color: rgb(0, 0, 0);
  height: 510vh;
  flex-direction: row;
}
.contain {
  height: 71vh;
  display: flex;
  justify-content: space-around;
  padding: 0; 
}

.width {
  height: 50vh;
  width: 270vh;
  display: flex; 
  justify-content: center;
   gap: 80px; 
   margin-top: 50px;
}

.box1{
  border: 2px solid #C74767;
  padding: 20px 40px;
  height: 60vh;
  width: 30vh;
  
}

.box2 {
   border: 2px solid #C74767;
  padding: 20px 40px;
   height: 60vh;
  width: 30vh;
}

.box3 {
   border: 2px solid #C74767;
  padding: 20px 40px;
   height: 60vh;
  width: 30vh;
}

.containers {
   border-style:solid;
   border-color:rgb(0, 47, 255);  
  height: 90vh;
  display: flex;
  justify-content: space-around;
  padding: 0; 
}

.shadow {
   border: solid;
  border-color: rgb(0, 50, 0);
  height: 60vh;
  width: 65vh;
  padding: 0 350px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 80px;
}

.control {
  border: solid;
  border-color: #C74767;
  height: 5vh;
  width: 20px;
  padding: 0 100px;
  margin-top: 320px;
}

.banner {
  border: solid;
  border-color: black;
  height: 80vh;
  margin-top: 90px;
  width: 190vh;
}

.topic {
  border: solid;
  border-color: #0dd338;
  height: 10vh;
  width: 50vh;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.hp {
  border: solid;
  border-color: #0adf14;
  height: 10vh;
  width: 50vh;
  margin-top: 50px;
}

 @media (max-width: 600px){
  .nav-bar {
    width: 100%;
  } 
  .banner {
    width: 100%;
  }
  .topic {
    width: 100%;
  } 
  .width {
    width: 100%;
  }
   
}

.containered {
  border-style:solid;
  border-color:rgb(0, 47, 255);  
  /* height: 130vh; */
  display: grid;
  grid-template-columns: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
  /* margin-bottom: 10px; */
}

@media (max-width: 879px) {
    .document {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
  }

/* @media (min-width: 700px) {
  .shadow { 
    width: 400px;
   }
} */ 

/* Sign Up Page Styles */

.main-container {
    /* border: 3px solid green; */
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.log-container {
    border: 3px solid #C74767;
    height: 350px;
    width: 500px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #ffebcd;
}

.profile-icon {
    display: block;
    width: 30px;
   justify-content: space-between;
}

hr {
    margin: 1em 0;
}

.heading-title {
   color: #C74767;
   text-decoration: underline;
   text-align: center;
   animation: flashing  5s 750ms linear infinite;;
}

@keyframes flashing {
  0% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      -1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
  30% { 
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      -0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  40% { 
    color: hsl(230, 100%, 95%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 90%, 0.5),
      -0.25em -0.125em 0.125em hsla(40, 100%, 60%, 0.2),
      0.25em 0.125em 0.125em hsla(200, 100%, 60%, 0.4);
  }
  
  70% {
    color: hsl(230, 80%, 90%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(40, 100%, 60%, 0.2),
      -0.5em 0.125em 0.25em hsla(200, 100%, 60%, 0.4);
  }
  
  100% {
    color: hsl(230, 40%, 80%);
    text-shadow:
      0 0 1em hsla(320, 100%, 50%, 0.2),
      0 0 0.125em hsla(320, 100%, 60%, 0.3),
      1em -0.125em 0.5em hsla(40, 100%, 60%, 0),
      -1em 0.125em 0.5em hsla(200, 100%, 60%, 0);
  }
  
}

.title {
    /* border: 3px solid brown; */
    height: auto;
    width: auto;
    margin-top: 1rem;
    position: relative;
    text-align: center;
}

.title:hover {
    color: #C74767;
    transition: .3s;
}

.log-in-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
}

.label-container {
    /* border: 3px solid yellow; */
    min-width: 300px;
    min-height: 200px;
    position: relative;
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    align-items: center;
}

.btn-sub-one {
    background-color: #C74767;
    border: none;
    border-radius: 5px;
    height: 2em;
    width: 10vmin;
}

.btn-sub-one:hover {
    color: white;
    background-color: #D16C85;
    transition: 0.3s;
    text-decoration: underline;
}

.log-in-section label {
    text-align: center;
}

.log-in-section label:hover {
    color: #C74767;
    transition: .3s;
}

.log-in-section input {
    height: 5vh;
    border-radius: 5px;
    border: none;
}

/* Sign Up Page Styles */

/* Profile Page Styles */

.second-container {
    border: 3px solid green;
    min-height: 100vh;
    overflow: hidden;
    background-color: blanchedalmond;
    display: grid;
}

.profile-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: #C74767;
  border-radius: 10px;
}

.profile-card h2 {
    color: #fff;
    text-decoration: underline;
    cursor: pointer;
}

.profile-card p {
    color: #fff;
}

.profile-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.profile-container {
  padding: 2px 16px;
}

.history-card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
  background-color: #C74767;
  
}

.price {
  color: grey;
  font-size: 22px;
}

.history-card:hover {
  opacity: 0.7;
}


@media (max-width: 873px) {
    .profile {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 10px;
        justify-content: center;
        align-items: center;
    }
    .image-icon {
        height: 10vh;
    }
}


/* Profile Page Styles */

/* Check-Out Page */

.third-container {
    /* border: 3px solid green; */
    display: grid;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 25px;
}

.third-container form {
    width: 700px;
    padding: 40px;
    border: 3px solid #C74767;
    border-radius: 10px;
    background-color: blanchedalmond;
}

.second-heading-title {
    text-align: center;
    text-decoration: underline;
}

.second-heading-title:hover {
    color: #C74767;
    transition: .3s;
}

form .row {
    /* border: 3px solid brown; */
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.row .column {
    flex: 1 1 250px;
}

.column .title {
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.column .input-box {
    margin: 15px 0;
}

.input-box span {
    display: block;
    margin-bottom: 10px;
}

.input-box input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 15px;
}

.column .flex {
    display: flex;
    gap: 15px;
}

.flex .input-box {
    margin-top: 5px;
}

.input-box img {
    height: 34px;
    margin-top: 5px;
    filter: drop-shadow(0 0 1px #000);
}

form .cards-btn {
    width: 100%;
    padding: 12px;
    background: #C74767;
    border: none;
    outline: none;
    border-radius: 6px;
    font-size: 17px;
    color: #fff;
    margin-top: 5px;
    cursor: pointer;
    transition: .5s;
}

form .cards-btn:hover {
    background: #D16C85;
}

@media (max-width: 737px) {
    .third-container form {
        width: auto;
    }
}
/* Check-Out Page */

/* Product View */

.fourth-container {
    border: 3px solid green;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-section {
    border: 3px solid red;
    width: 80vw;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

.product-info-content {
    border: 3px solid purple;
    width: 50vw;
    height: auto;
    display: grid;
    grid-template-columns: auto auto;
}

.title-section-one {
    border: 3px solid brown;
    width: auto;
    height: auto;
    text-align: center;
}

.image-content {
    border: 3px solid blue;
    height: auto;
    width: 30vw;
}

.image-content img {
    width: 30vw;

}

.product-description-content {
    border: 3px pink solid;
    height: 80vh;
    width: 20vw;
}

.product-description-content-one {
    border: 3px solid yellow;
    margin: 3vmin 0;
}

.product-description-content-two {
    border: 3px solid green;
}

.product-description-content-two a {
    text-decoration: none;
}

.discount {
    text-decoration: line-through;
    padding-left: 10px;
    color: grey;
}

.discount:hover {
    color: red;
}

.product-description-content-three {
    border: 3px solid purple;
      margin: 3vmin 0;
}

.product-description-content-four {
    border: 3px solid orange;
    margin: 3vmin 0;
    display: inline-block;
}

.product-description-content-five {
    border: 3px solid orangered;
    display: inline-block;
}

.product-description-content-six {
    border: 3px olivedrab solid;
}

@media (max-width: 879px) {
    .product-info-content {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
    }
    .image-content {
        width: auto;
    }
    .product-description-content {
        width: auto;
        height: auto;
    }
}
/* Product View */

/* Product Page */

.fifth-container {
    /* border: 3px solid blue; */
    min-height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: blanchedalmond;
}

.second-text-section {
    /* border: 3px solid yellow; */
    width: auto;
    height: auto;
}

.title-fourth-section {
    text-align: center;
    color: #C74767;
    margin: 1vmin 0;
    cursor: pointer;
}

.title-fourth-section:hover {
    color: #D16C85;
}

.line-one {
    background-color: #C74767;
    height: 1vh;
    border: none;
}

.products {
    /* border: 3px solid indianred; */
    width: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 20px;
}

.product-three-row {
    /* border: 3px solid violet; */
    width: 30vw;
    height: 70vh;
    /* background-color: #C74767; */
}

.product-three-row img {
    width: 29vw;
    height: auto;
    transition: 0.3s;
    cursor: pointer;
}

.product-three-row img:hover {
    transform: scale(.9)
}

.text-banner {
    /* border: 3px solid salmon; */
    display: inline-block;
    font-weight: bold;
    margin-top: 1vmin;
    text-decoration: underline;
}

.text-banner:hover {
    color: #C74767;
}

.image-section-content {
    /* border: 3px solid black; */
    height: 65vh;
}

.image-section-content img {
    height: 65vh;
    border-radius: 10px;
}

@media (max-width: 873px) {
    .products {
        display: grid;
        grid-template-columns: auto;
        width: 100vw;
    }
    .product-three-row {
        width: auto;
        height: 70vh;
    }
    .product-three-row img {
        width: 100vw;
    }
}
/* Product Page */

/* Profile Page */


/* Profile Page */